{% extends 'base.html' %}

{% block content %}
    <h1>Mon Panier -
        <a class="btn btn-default btn-sm ml-right" href="{% url 'produits:produits' %}">
            Ajouter Article
        </a>
    </h1>
    <br />
    {% if panier.produits.exists %}

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Désignation</th>
              <th scope="col">Prix</th>
{#              <th scope="col">Handle</th>#}
            </tr>
          </thead>
          <tbody>
          {% for produit in panier.produits.all %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>
                 <a class="btn btn-link" href="{{ produit.get_absolute_url }}">
                     {{ produit.nom }}
                 </a>
                {% include 'produits/snippets/ajouter_au_panier.html' with produit=produit panier=panier in_panier=True %}
              </td>
              <td>{{ produit.prix }}</td>
            </tr>
          {% endfor %}
            <tr>
              <td colspan="2"></td>
              <td><b>Total : </b>{{ panier.subtotal }}</td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td><b>Total TTC : </b>{{ panier.total }}</td>
            </tr>

            <tr>
              <td colspan="2"></td>
              <td><a class="btn btn-group-lg btn-success" href="{% url 'panier:checkout' %}">Vérifier Commande</a></td>
            </tr>
          </tbody>
        </table>
    {% else %}
        <p class="lead">Panier Vide -
            <a class="btn btn-default" href="{% url 'produits:produits' %}">
                Ajouter Produit
            </a>
        </p>
    {% endif %}
{% endblock %}

