{% extends 'base.html' %}
{% block content %}
<div class="row mb-3">
    {% if query %}
        <div class="col-12">
            Recherche pour <b>{{ query }}</b>
            <hr/>
        </div>
    {% else %}
        <div class="col-12 col-md-6 mx-auto py-4">
            {% include 'search/snippets/search_form.html' %}
        </div>
        <div class="col-12">
            <hr/>
        </div>
    {% endif %}
</div>
    <div class="row">
    {% for obj in object_list %}
        <div class="col">
                {% include 'produits/snippets/cards.html' with produit=obj %}

            {% if forloop.counter|divisibleby:2 %}
                </div></div><div class="row"><div class="col-12"><hr/></div>
            {% elif forloop.counter|divisibleby:2 %}
                </div></div><div class="row"><div class="col-12"><hr/></div>
        {% else %}
</div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}


