{% extends 'base.html' %}
{% block content %}
    <div class="row">
    {% for obj in object_list %}
        <div class="col">
            {{ forloop.counter }}
                {% include 'produits/snippets/cards.html' with produit=obj %}

            {% if forloop.counter|divisibleby:2 %}
                </div></div><div class="row"><div class="col-12"><hr/></div>
            {% elif forloop.counter|divisibleby:2 %}
                </div></div><div class="row"><div class="col-12"><hr/></div>
        {% else %}
</div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}


